<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="materialContainer">
    <div class="box">
        <form method="post">
            <div class="title">登录</div>
            <div class="input">
                <label for="user_id">用户名</label>
                <input type="text" name="user_id" id="user_id">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="password">密码</label>
                <input type="password" name="password" id="password">
                <span class="spin"></span>
            </div>
            <div class="button login">
                <button type="submit">
                    <span>登录</span>
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/index.js"></script>
</body>
</html>